<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Redmine.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Redmine.My.MySettings>
            <setting name="RedmineURL" serializeAs="String">
                <value>http://10.0.0.104/redmine/</value>
            </setting>
            <setting name="Issues" serializeAs="String">
                <value>issues.xml</value>
            </setting>
            <setting name="Projects" serializeAs="String">
                <value>projects.xml</value>
            </setting>
            <setting name="Users" serializeAs="String">
                <value>users.xml</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>886ccdc09cb7223a43261d0b5dd9fdf25e2797cc</value>
            </setting>
            <setting name="TimeEntry" serializeAs="String">
                <value>time_entries.xml</value>
            </setting>
            <setting name="Enumeration" serializeAs="String">
                <value>enumerations/time_entry_activities.xml</value>
            </setting>
        </Redmine.My.MySettings>
    </userSettings>
</configuration>
